 <!-- <div class="container">
<h3>New Gigger Form </h3>
 <div [hidden]="submitted" style="width: 300px;">

 <form (ngSubmit)="onsubmit()">
  <br>
  <mat-input-container>
    <input matInput type="text" 
    required [(ngModel)]="gigger.name" id="name" name="name">
    <mat-placeholder>
      Name
    </mat-placeholder>
  </mat-input-container>
  <br>    

  <br>
  <mat-input-container>
    <input matInput type="text" 
    required [(ngModel)]="gigger.username" id="username" name="username">
    <mat-placeholder>
      Username
    </mat-placeholder>
  </mat-input-container>
  <br>    
        <div class="btn-group">
          <button class="btn btn-primary" (click)="goBack()">Back</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div> 
     
    <div [hidden]="!submitted">
      <div class="btn-group ">
        <h4>Gigger Created Successfully!</h4>
        <button class="btn btn-primary" (click)="goBack()">Back</button>
        <button class="btn btn-success" (click)="newGigger()">Add</button>
      </div>
    </div>
    </div> 
          type: '',
      name: '',
      username:'',
      speciality: '',
      description:''

 -->
<div>
<h1> New Gigger Form </h1>
 <form #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>

    <div>
    <label>Type</label>
    <select name="type" [(ngModel)]="gigger.type">
      <option value="Employer">Employer</option>
      <option value="Employee">Employee</option>
    </select>
    </div>

  <div>
    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="gigger.name" #name="ngModel">
</div>

<div>
    <label>Username</label>
    <input type="text" name="username" [(ngModel)]="gigger.username" #name="ngModel">
</div>

<div>
    <label>Speciality</label>
    <input type="text" name="speciality" [(ngModel)]="gigger.speciality" #name="ngModel">
</div>

<div>
    <label>Description</label>
    <input type="text" name="description" [(ngModel)]="gigger.description" #name="ngModel">
</div>

<button class="btn btn-primary" (click)="goBack()">Back</button>
<!-- <button type="onsubmit">Submit</button> -->
<button class="btn btn-primary" (click)="onsubmit()"> Signup </button>

 
<div [hidden]="!submitted">
    <div class="btn-group ">
      <h4>Gigger Created Successfully!</h4>
    </div>
    </div>
 </form>
</div>