<div>
<h1> New Gigger Form </h1>
 <form #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>

    <div>
    <label>Type</label>
    <select name="type" [(ngModel)]="gigger.type">
      <option value="employer">Employer</option>
      <option value="employee">Employee</option>
    </select>
    </div>

  <div>
    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="gigger.name" #name="ngModel">
</div>

<div>
    <label>Username</label>
    <input type="text" name="username" [(ngModel)]="gigger.username" #name="ngModel">
</div>

<div>
    <label>Speciality</label>
    <input type="text" name="speciality" [(ngModel)]="gigger.speciality" #name="ngModel">
</div>

<div>
    <label>Description</label>
    <input type="text" name="description" [(ngModel)]="gigger.description" #name="ngModel">
</div>

<button class="btn btn-primary" (click)="goBack()">Back</button>
<!-- <button type="onsubmit">Submit</button> -->
<button class="btn btn-primary" (click)="onsubmit()"> Signup </button>

 
<div [hidden]="!submitted">
    <div class="btn-group ">
      <h4>Gigger Created Successfully!</h4>
    </div>
    </div>
 </form>
</div>