header{
    background-color: rgb(68, 41, 29);
    padding: 10px;
    color: white;
    position: relative;
}

footer {
    /* position-relative d-flex flex-justify-between py-6 mt-6 f6 text-gray border-top border-gray-light  */
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: rgb(160, 156, 156);
    background-color:rgb(68, 41, 29);
    text-align: center;
    font-style: italic;
  }

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}